.account-setting-options-container {
    width: 50%;
}


.option-header {
    margin-top: 50px;
    margin-bottom: 50px;
}

.option-subheader {
    border-bottom: 1px solid #e3d6d3;
    color: #c2bdbd;
    font-size: 12px;
    margin-bottom: 40px;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}


.option-titles {
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.title {
    color: #111111;
    font-weight: bold;
}

.sub-title {
    color: #91939a;
    font-size: 12px;
}


.change-btn {
    width: 60px;
    height: 30px;
    background-color: #47156b;
    border: none;
    color: #f3efef;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 968px) {
    .account-setting-options-container {
        width: 100%;
    }

}