.topBarContainer {
    height: 60px;
    width: 100%;
    background-color: #47156b !important;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.topBarLeft {
    flex: 3;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.radish-logo {
    width: 55px;
    height: 50px;
}

.logo-title {
    font-size: 26px;
    margin-left: 20px;
    font-weight: bold;
    color: #f3efef;
    cursor: pointer;
    font-family: 'Rubik Bubbles', cursive;
}

.topBarCenter {
    flex: 5;
    position: relative;
}

.searchBar {
    width: 100%;
    height: 30px;
    background-color: #f3efef;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    background-color: #f3efef;
    width: 80%;
    font-weight: lighter;
    color: #111111;
    /*font-size: 20px;*/
    /*font-family: 'Caveat', cursive;*/
    font-style: italic;
    margin-left: 8px;
}

.searchInput:focus {
    outline: none;
}

.topBarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #f3efef;
}


.topBarIcons {
    display: flex;
}

.topBarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topBarIconBadge {
    width: 15px;
    height: 15px;
    background-color: darkred;
    border-radius: 50%;
    color: #f3efef;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topBarImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
    cursor: pointer;
}

.profile-info-wrapper {
    position: relative;
    border: 1px solid black;
    padding: 2px 8px;
    background-color: #f3efef;
    border-radius: 5px;
    color: #111111;
}

.profile-info {
    display: flex;
    gap: 3px;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .logo-title {
        font-size: 14px;
    }
}


@media (max-width: 968px) {
    .logo-title {
        display: none;
    }
    .topBarIcons {
        display: none;
    }

    .searchBar {
        width: 100%;
    }
    .searchInput {
        width: 70%;
        font-size: 10px;
    }

    .profile-info-username {
        display: none;
    }
}


@media (max-width: 768px) {
    .logo-title {
        display: none;
    }
    .topBarIcons {
        display: none;
    }

    .searchBar {
        width: 100%;
    }
    .searchInput {
        width: 70%;
        font-size: 10px;
    }

    .profile-info-username {
        display: none;
    }

}