.password-update-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    padding: 15px;
    color: #111111;
}


.password-update-form-btn {
    border: none;
    background-color: #2b0a3f;
    color: #c2bdbd;
    height: 30px;
}

.password-update-form-btn:active {
    background-color: #420f65;
}
.password-update-form-btn:hover {
    cursor: pointer;
}