.online-friends-container {
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin-right: 10px; 
}

.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    margin-top: 20px;
}

.img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.text {
    font-weight: 300;
    font-size: 15px;
}

.rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.profileRightBarContainer {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 10px;
    gap: 20px
}

.rightbarTitle{
    margin-bottom: 20px;
}

.rightbar-online-FriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo{
    margin-bottom: 30px;
}

.rightbarInfoItem{
    margin-bottom: 10px;
}

.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightbarInfoValue{
    font-weight: 300;
    font-style: italic;
}

.rightbarFollowings{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.rightbar-buttons {
    display: flex;
    gap: 10px
}

.rigthbarFollowingButton {
    margin-top: 30px;
    width: 90px;
    margin-bottom: 10px;
    background-color: #0f499b;
    border: none;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.rigthbarFollowingButton:active {
    background-color: #1f67c7;
}

.rigthbarMessageButton {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #3e750a;
    border: none;
    margin-top: 30px;
    width: 90px;
    margin-bottom: 10px;
}

.rigthbarMessageButton:active {
    background-color: #58a20f;
}